ion-tabs.tabs-icon-bottom.tabs-light
	ion-tab(title="Lista" icon="ion-ios-list-outline" href="#/podcasts/list")
		ion-nav-view(name="list-tab")
	ion-tab(title="Ouvir" icon="ion-play" href="#/podcasts/listen")
		ion-nav-view(name="listen-tab")